:root {
  display: flex;
  justify-content: center;
}

.App {
  margin-top: 30px;
}

.dictionary {
  margin-top: 50px;
  width: 600px;
}

div .form-row {
  display: flex;
  justify-content: center;
  margin: auto;
}

.searchDiv {
  display: flex;
}

.searchBar {
  display: flex;
  justify-content: space-between;
}

#userinput {
  width: 60vw;
}

.results {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.resultlabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 60px;
  font-weight: bold;
}

.resulttable {
  display: flex;
  justify-content: space-between;
}

.resultColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 6px 6px;
  font-weight: bold;
  width: 80px;
}

.defaultResult {
  font-size: 32px;
  margin-left: 40px;
  margin-top: 40px;
}

.custompill {
  min-width: 20px;
}

.instructions {
  margin-top: 60px;
}

p,
p.instructions ul {
  font-family: Tahoma, Arial;
  max-width: 90vw;
}
